<div class="backpack-container" [class.alert-update]="recienActualizado">
  <div class="header">
    <span class="title">INVENTARIO DE CAMPO</span>
  </div>

  <div class="content">
    <div class="stat">
      <span class="label">SUMINISTROS:</span>
      <span class="value">{{ items.length }}</span>
    </div>
    <div class="stat">
      <span class="label">COSTO TOTAL:</span>
      <span class="value">{{ totalPartes }} PARTES</span>
    </div>
  </div>

  <div class="item-list" *ngIf="items.length > 0">
    <div *ngFor="let item of items.slice(-3)" class="mini-item">
      > {{ item.nombre }}
    </div>
    <div class="more" *ngIf="items.length > 3">...Y {{ items.length - 3 }} MÁS</div>
  </div>

  <button (click)="vaciarMochila()" class="btn-discard">DESCARTAR TODO</button>
</div>